body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.navbar {
    background-color: #333;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
    color:#f9f9f9;
}

.navbar-links {
    list-style: none;
}

.navbar-links li {
    display: inline;
    margin: 0 10px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
}

.navbar-search input {
    padding: 5px;
}

.about-section {
    margin: 20px;
}

.about-section h2 {
    color: #4c0000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}
.about-section h2 {
    margin-top: 20px;
    font-size: 24px;
}

.projects-section ul {
    list-style-type: none;
    padding: 0;
}

.projects-section li {
    margin-bottom: 20px;
}

.projects-section a {
    color: #007bff;
    text-decoration: none;
}

.projects-section a:hover {
    text-decoration: underline;
}

.contact-info {
    font-size: 1.1em;
    margin-top: 20px;
}

.contact-info p {
    margin: 10px 0;
}

.contact-info a {
    color: #0066cc;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}


